@page
@model C314.Website.Pages.Apps.SmallerCSAppsBundle.docs.IndexModel
@{
	ViewData["Title"] = "Smaller C# Apps Docs";
}

<div class="text-center">
	<h1>@ViewData["Title"]</h1>
	<p>A commandline-utility bundle.</p>
	<p>Usage:</p>
	<pre><code>c314.smallercsappsbindle [options]</code></pre>
	<p>Or:</p>
	<pre><code>c314.smallercsappsbindle [verb] [options]</code></pre>
	<h2><a class="nav-link text-blue" asp-area="" asp-page="/Apps/SmallerCSAppsBundle/docs/Lists">Lists</a></h2>
	<p>A program to manage lists.</p>
</div>
