@page
@model C314.Website.Pages.Apps.SmallerCSAppsBundle.docs.ListsModel
@{
	ViewData["Title"] = "Lists";
}

<div class="text-center">
	<h1>@ViewData["Title"]</h1>
	<p>A program to manage lists.</p>
	<p>Create List:</p>
	<pre><code>c314.smallercsappsbindle createlist &lt;-n listName&gt; &lt;-b boardName&gt; &lt;-e boardDescription&gt; &lt;-i itemName&gt; &lt;-d itemDescription&gt;</code></pre>
	<p>Read List(s):</p>
	<pre><code>c314.smallercsappsbindle readlist &lt;-n listName listNameTwo(Optional)&gt;</code></pre>
	<p>Update List:</p>
	<pre><code></code></pre>
	<p>Delete List:</p>
	<pre><code></code></pre>
</div>
