@page
@model C314.Website.Pages.Apps.IndexModel
@{
	ViewData["Title"] = "Apps";
}

<div class="text-center">
	<h1>@ViewData["Title"]</h1>
	<p>A list of some of the apps/programs I have made.</p>
	<br/>
	<h2><a class="nav-link text-blue" asp-area="" asp-page="/Apps/SmallerCSAppsBundle/Index">C314.SmallerCSAppsBundle</a></h2>
</div>
