@page
@model C314.Website.Pages.Apps.SmallerCSAppsBundle.IndexModel
@{
	ViewData["Title"] = "Smaller C# Apps Bundle";
}

<div class="text-center">
	<h1>@ViewData["Title"]</h1>
	<p>
		<a href="https://github.com/314ShadePi/_C314.SmallerCSAppsBundle/releases" target="_blank">Releases</a>&nbsp;<a href="https://github.com/314ShadePi/_C314.SmallerCSAppsBundle" target="_blank">Source</a><br/>
		<a class="nav-link text-blue" asp-area="" asp-page="/Apps/SmallerCSAppsBundle/docs/Index">Smaller C# Apps Bundle Docs</a>
		
</div>

